
      body {
	  background-color:black;
	 
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
	  }
      h1{color:yellow;}
	  h2{color:skyblue;}
	 
	 .center {
       margin: auto;
       width: 50%;
       border: 10px solid white;
       padding: 10px;
     }



